<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style_main-page.css">
    <link rel="shortcut icon" href="#">
    <title>Forum</title>
</head>
<body>
    <div class="header">
        {{.Username}}
        <div class="connected"> 
            <button class ="button" id="connectBtn">Se connecter</button>
            <button class ="button" id="RegisterBtn">S'inscrire</button>
        </div>
    </div>
    <div class="barreLeft">
        <h1 class="title">FORUM FAT</h1>
        <h2 class="subtitle privateMsg">Message privé :</h2>
        <div class="interface_privateMsg">
            <div class="private_Msg">
                <img src="https://pic.onlinewebfonts.com/svg/img_329115.png" class="profile" width="50" height="50"> 
                <p class="user">pseudo</p>
            </div>
            <div class="private_Msg">
                <img src="https://pic.onlinewebfonts.com/svg/img_329115.png" class="profile" width="50" height="50"> 
                <p class="user">pseudo</p>
            </div>
            <div class="private_Msg">
                <img src="https://pic.onlinewebfonts.com/svg/img_329115.png" class="profile" width="50" height="50"> 
                <p class="user">pseudo</p>
            </div>
            <div class="private_Msg">
                <img src="https://pic.onlinewebfonts.com/svg/img_329115.png" class="profile" width="50" height="50"> 
                <p class="user">pseudo</p>
            </div>
            <div class="private_Msg">
                <img src="https://pic.onlinewebfonts.com/svg/img_329115.png" class="profile" width="50" height="50"> 
                <p class="user">pseudo</p>
            </div>
            <div class="private_Msg">
                <img src="https://pic.onlinewebfonts.com/svg/img_329115.png" class="profile" width="50" height="50"> 
                <p class="user">pseudo</p>
            </div>
            <div class="private_Msg">
                <img src="https://pic.onlinewebfonts.com/svg/img_329115.png" class="profile" width="50" height="50"> 
                <p class="user">pseudo</p>
            </div>
        </div>
        <h2 class="subtitle categories">Catégories :</h2>
        <input class="search_categorie" type="text" placeholder="Rechercher"> 
        <div class="interface_categories">
            <label>
                <input type="checkbox">
                <p>test</p>
            </label>
        </div>
    </div>
    <div class="triangle">
        <a class="triangleText">see post
            ------->
        </a>
    </div>
    <script src="../js/Forum.js"></script>
</body>
</html>