<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="#">
    <title>Home</title>
</head>

<body>
    {{ template "header" . }}
    <div class="barreLeft">
        <h1 class="title">PATOU POST</h1>
    </div>
    <div class="triangle">
        <a href="Forum" class="triangleText">see post
            -------></a>
    </div>
    <h1 class="center">WELCOME TO FORUM !</h1>
    <div class="testText" id="serverMessageBox">
    </div>
    <script type="module" src="../js/index.js"></script>
</body>
</html>