<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Home</title>
</head>

<body>
    <div class="header">
        <div class="connected"> 
            <button class ="button" id="connectBtn">Se connecter</button>
            <button class ="button" id="RegisterBtn">S'inscrire</button>
        </div>
    </div>
    <div class="barreLeft">
        <h1 class="title">FORUM FAT</h1>
    </div>
    <div class="triangle">
        <a href="Forum" class="triangleText">see post
            -------></a>
    </div>
    <h1 class="center">WELCOME TO FORUM !</h1>
    <!--<div class ="formBody" id="formBody">
    <form method="POST" id="inputForm">
        <label for="message">Message</label>
        <input id="message" name="message" value="hello!!" type="text">
        <button type="submit" style="width:100px;">Go</button>
        </form>      
    </div>-->
    <div class="testText" id="serverMessageBox">
    </div>
    <script src="../js/index.js"></script>
</body>
</html>